<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake News Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Fake News Detection</h1>
      <form id="news-form">
        <textarea
          id="news-text"
          name="news"
          placeholder="Enter the news text here..."
        ></textarea>
        <button type="submit">Check</button>
        <button id="reset-button" type="button" style="display: none">
          Reset
        </button>
      </form>
      <div id="result" class="result" style="display: none"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
